body{
    padding: 0;
    margin: 0;
    background-image: url(./images/Screenshot_10.png);
    background-position: center;
    background-size: cover;
    font-family: 'lato';
    font-weight: 200;
    color: aliceblue;
}
.back{
    margin: 0;
    padding: 0;

    width: 100vw;
    height: 100vh;
    position: relative;

}
.centered{
    margin: auto;
    background-color: rgba(0, 0, 0, 0.089);
    /* height: 30em; */
    /* width: 30em; */

    float: left;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(6px);

    border-radius: 40px;
}
.teste{
    /* padding: 10px; */
    margin: 30px;
    margin-top: 0;
    width: 200px;

    /* background-color: blue; */
    
    float: left;
    position: relative;
    top: 50%;
    left: 50%;

    transform: translate(-60%,0%);
}

.text{
    margin:  10px 0px;
}
p{
    padding: 0;
    margin: 10px 0px 0px 0px; 

    font-family: 'lato';
    text-align: center;
    font-weight: 200;
    font-size: 1.5em;
}